@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  pad: 0;
  box-sizing: border-box;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body,html {
  overflow-x: hidden;
}

.webgl {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

nav {
  z-index: 2;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: #fff;
}

nav a {
  text-decoration: none;
  color: #Fff;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

h1{
  color: #FFF;
  z-index: 2;
  position: absolute;
  font-size: 2rem;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -75%);
}

.font-bungee {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}
